* {
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    }

body {
    font-size: 2em;
}

.wrapper {
    /*display: none;*/
    height: 100vh;
    background-image: linear-gradient(45deg, #1fd1f9 0%, #b621fe 74%);
}

.header {
    font-size: 12em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.box {
    display:flex;
    flex-direction: column;
    background-color: darkcyan;
    border: thin solid grey;
    border-radius: 5px;
}

.box-title {
    background-color: hotpink;
    border-radius: 5px 5px 0px 0px;
    align-self: flex-start;
    padding: .5em 1em;
}

.box-result {
    align-self: center;
    padding: 1em 1em;
}

.subCenterL {
    
}

.subCenterR {
  
}

.subLeft{
    
}
.subRght {
    
}

